body {	
	padding: 50px;
	background-color: #66CCFF;
	font-family: sans-serif;
	font-size: 40px;
}

#container {
	display: flex;
	justify-content: center;
}

input {
	width: 300px;
	height: 40px;
	font-size: 15px;
}

button {
	margin-left: 10px;
	width: 100px;
	height: 40px;
	cursor: pointer;
}